<!DOCTYPE html>
<html>
  <head>
    <title>Paultrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/d136e8f6b6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
